<header>
    <nav>
        <a href="/" class="logo">
            <img src="/chromestars-stars-logo.png" width="auto">
        </a>
        <div class="nav__right">
            <a href="/history">HISTORY</a>
            <a href="/">LEADERBOARD</a>
            <div class="nav-right__search">SEARCH</div>
            <a href="/account">
                <img class="account" src="/chromestars-badge-account.png" width="auto">
            </a>
        </div>
    </nav>
</header>

<style>
    header {
        padding: 14px 32px;
        /*border-bottom: 1px solid #ffffff36;*/
        position: sticky;
        top: 0;
        background-color: #101010;
        z-index: 1000;
    }
    nav a {
        display: flex;
        align-items: center;
        gap: 8px;
    }
    .nav-right__search {
        display: flex;
        align-items: center;
        cursor: pointer;
    }
    nav img {
        height: 40px;
        position: relative;
    }
    .logo img {
        top: -6px;
    }
    .account {
        height: 40px;
    }
    .nav__right {
        display: flex;
        gap: 40px;
        font-size: 15.21px;
        font-weight: bold;
    }
</style>