<div class="form">
    <h1>Login</h1>
    <% if (messages.error) { %>
        <%= messages.error %>
    <% } %>
    <form class="form__login" action="/login" method="POST">
        <div class="form-row">
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" id="email" name="email" required>
            </div>
            <div class="form-group">
                <label for="email">Password</label>
                <input type="password" id="password" name="password" required>
                <div class="reset-password-wrapper">
                    <a class="reset-password" href="/password">Forgot password?</a>
                </div>
            </div>
        </div>
        <button class="form__submit" type="submit">Login</button>
    </form>
    <a class="form__register" href="/register">Register</a>
    <p class="form__message"></p>
</div>

<style>
    .form__submit {
        margin: 0 auto;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 12px;
        background: transparent;
        border: 1px solid #FFFFFF24;
        width: 100%;
        max-width: 700px;
        min-height: 42px;
        cursor: pointer;
        transition: all 0.025s ease-in;
    }
    .form__submit:hover {
        border: 1px solid #FFFFFF79;
        border-radius: 0;
        outline: none;
        background: #FFFFFF24;
    }
    .form__register {
        padding: 12px;
    }
    .form__login {
        gap: 0 !important;
    }
    .reset-password-wrapper {
        width: 100%;
        position: relative;
        display: flex;
        justify-content: flex-end;
    }
    .reset-password {
        margin-top: 8px;
        position: relative;
        width: fit-content;
    }
</style>

<script>
    const form = document.querySelector('.form__login')
    let message = document.querySelector('.form__message')

    form.addEventListener('submit', async (event) => {
        event.preventDefault();
        
        const email = document.getElementById('email').value;
        const password = document.getElementById('password').value;

        const data = JSON.stringify({
            email: email,
            password: password
        })

        try {
            const response = await fetch(`/login`, {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: data
            });

            const resp = await response.json();

            message.textContent = resp.message
            message.style.color = response.ok ? 'white' : 'red'

            if (response.ok){
                window.location.href = '/'
            }
        } catch (error) {
            message.textContent = 'Something went wrong!';
            message.style.color = 'red';
        }
    });
</script>