<div class="padding">
    <h1>Create Event</h1>
    <div class="race-form">
        <div class="race-form-new">
            <div class="form-group">
                <label for="name">Title</label>
                <input type="text" id="name" name="name" required>
            </div>
            <div class="form-group">
                <label for="details">Details</label>
                <input type="text" id="details" name="details" required>
            </div>
            <div class="form-row form-submit-cancel">
                <button class="form__btn form__submit">Submit Event</button>
                <a class="form__btn" href="/">Cancel</a>
            </div>
        </div>
    </div>
</div>

<script>
    const eventSubmit = document.querySelector('.race-form-new .form__submit')
    submitEventForm()

    async function submitEventForm(){
        eventSubmit.addEventListener('click', async event => {
            const eventName = document.querySelector('.race-form-new #name').value
            const eventDetails = document.querySelector('.race-form-new #details').value

            const data = JSON.stringify({
                title: eventName,
                details: eventDetails
            })

            const newevent = await fetch('/event', {
                method: 'POST',      
                headers: {
                    'Content-Type': 'application/json'
                },
                body: data
            })

            window.location.href = '/event'
        })
    }
</script>


<style>
    .race-form form {
        flex-direction: column;
        gap: 40px;
        width: 100%;
    }
    .race-form {
        margin-top: 40px;
        padding: 0;
        align-items: flex-start;
        justify-content: flex-start;
    }
    .form-row { 
        display: flex;
        flex-direction: column;
        gap: 40px;
    }
    .form-group {
        width: 100%;
        margin-bottom: 40px;
    }
    .form__submit {
        margin: 0;
    }
    .form__btn {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 12px;
        background: transparent;
        border: 1px solid #FFFFFF24;
        width: 200px;
        min-height: 42px;
        cursor: pointer;
        transition: all 0.025s ease-in;
    }
    .form__btn:hover {
        border: 1px solid #FFFFFF79;
        border-radius: 0;
        outline: none;
        background: #FFFFFF24;
    }
    .racer-options {
        display: flex;
        flex-wrap: wrap;
        gap: 24px;
        margin-top: 24px;
        margin-bottom: 24px;
    }
    .racer {
        height: 40px;
        width: 120px;
        padding: 0 12px;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .racer-select {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        border: 1px solid #FFFFFF24;
        pointer-events: none;
    }
    .racer input {
        width: 100%;
        height: 100%;
        position: absolute;
        opacity: 0;
    }
    .racer input:checked + .racer-select {
        border: 1px solid #FFFFFF79;
        border-radius: 0;
        outline: none;
        background: #FFFFFF24;
    }
    .racer input:hover {
        cursor: pointer;
    }
    .racer input:hover + .racer-select {
        border-radius: 0;
        outline: none;
        background: #FFFFFF24;
    }
    .racer label {
        margin: 0 !important;
    }
    .form-submit-cancel {
        justify-content: center;
        margin-top: 120px;
    }
</style>