<div class="padding">
    <div class="form">
        <h1>Reset Your Password</h1>
        <form id="resetForm">
            <div class="form-group">
                <label for="password">New Password</label>
                <input type="password" id="password" placeholder="" autocomplete="off" required />
            </div>
            <div class="form-group">
                <label for="confirmPassword">Confirm Password</label>
                <input type="password" id="confirmPassword" placeholder="" autocomplete="off" required />
            </div>
            <button class="form__btn" type="submit">Reset Password</button>
        </form>
    </div>
    <p id="message"></p>
</div>

<style>
    #resetForm {
        width: 500px;
    }
    .form__btn {
        margin: 16px auto;
    }
    #resetForm .form-group {
        margin-bottom: 16px;
    }
</style>

<script>
    // Extract token from the URL
    const token = window.location.pathname.split('/').pop();

    const form = document.getElementById('resetForm');
    const message = document.getElementById('message');

    form.addEventListener('submit', async (event) => {
        console.log('submit')
        event.preventDefault();
        
        const password = document.getElementById('password').value;
        const confirmPassword = document.getElementById('confirmPassword').value;

        if (password !== confirmPassword) {
            message.textContent = 'Passwords do not match!';
            message.style.color = 'red';
            return;
        }

        try {
            const response = await fetch(`/password/reset-password/${token}`, {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify({ password })
            });

            const data = await response.text();
            message.textContent = data;
            message.style.color = response.ok ? 'green' : 'red';
            window.location.href = '/login'
        } catch (error) {
            message.textContent = 'Something went wrong!';
            message.style.color = 'red';
        }
    });
</script>